@import "tailwindcss";

@font-face {
  font-family: levis300;
  src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: levis500;
  src: url(../public/fonts/Lausanne-500.woff2);
}

.moveX{
  animation-name: moveAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.movelink{
  opacity: 0;
  transition: all ease 0.3s;
}
.link:hover .movelink{
  opacity: 1;
}

@keyframes moveAnimation {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

body{
  background-color: #111;
}